default_context:
    project_name: "Keg App CI"
    developer_name: "Level 12"
    developer_email: devteam@level12.io
    gh_repo_path: level12/doesnt-matter
    gh_repo_name: doesnt-matter
    circle_badge_token: foo
    codecov_upload_token: bar
    codecov_graphing_token: baz
    celery_alive_key_beta: beta
    celery_alive_key_prod: prod
