default_context:
    project_name: "Keg App CI"
    developer_name: "Level 12"
    developer_email: devteam@level12.io
    gh_repo_path: level12/doesnt-matter
    gh_repo_name: doesnt-matter
    circle_badge_token: foo
    codecov_api_token: bar
    codecov_badge_token: baz
    beta_celery_alive_url: beta
    prod_celery_alive_url: prod

