default_context:
    project_name: "Keg Demo"
    developer_name: "Randy Syring"
    developer_email: randy.syring@level12.io
    sa_db_uri_prefix: "postgresql://rsyring@:5432/"
    gh_repo_path: level12/keg-demo
    gh_repo_name: keg-demo
    circle_badge_token: 35a306b33fff2091de0baa677a495855685acf9e
    codecov_api_token: 1e8b2ae5-9758-403e-97c9-34d2eb871db6
    codecov_badge_token: qlWU1FUjui
    beta_celery_alive_url: FVYpYl
    prod_celery_alive_url: sdfds
    lastpass_secrets_folder: Shared-Devs/secrets-kegdemo
