{% raw %}
{% assets_include %}
{% extends 'includes/base-page.html' %}

{% block page_content %}
    <h1>Production for {{day_ent.date}}</h1>

    <ul class="nav nav-tabs">
        <li>
            <a class="{{tab_active_summary}}"
               href="{{url_for('private.production-day:summary', day_id=day_id)}}">Summary</a>
        </li>
        {% for dept in departments %}
        <li>
            <a class="{{ 'active' if dept.id == dept_id else ''}}"
               href="{{url_for('private.production-day:dept', day_id=day_id, dept_id=dept.id)}}"
               >{{dept.name}}</a>
        </li>
        {% endfor %}
    </ul>

    <section class='tab-content'>
    {% include 'private/production-day-' + tab_name + '.html' %}
    </section>

{% endblock %}

{% macro product_row(prod) -%}
    <tr>
        <th>prod.code</th>
    </tr>
    {% for sub_node in nav_node.permitted_sub_nodes %}
        {{ render_node(sub_node) }}
    {% endfor %}
{%- endmacro %}
{% endraw %}
