*.pyc
*.egg-info
/{{cookiecutter.project_namespace}}-config.py
*.coverage
/.tox
/coverage.xml
/.pytests.xml
/htmlcov
.pytest_cache

# .env file for Flask development server
.flaskenv

# Visual Studio Code clutter
.vscode
tags

# Pycharm / JetBrains cluuter
.idea

# Pyenv local env declaration file
.python-version
