{% raw -%}
{% import "bootstrap-utils.html" as utils %}
{% import "keg_auth/navigation.html" as navigation %}
{% extends "base.html" %}

{% block content %}
<div class="container-fluid" id="page-content">
    <div class="row">
        <div class="col-sm-2 hidden-xs">
            <div id="navigation">
                {{ navigation.render_menu(auth_manager.menus['main'], expand_to_current=True) }}
            </div>
        </div>
        <div class="col-sm-10 col-xs-12">
            <div class="container" id="flash-messages">
                {%- with messages = get_flashed_messages(with_categories=True) %}
                {%- if messages %}
                    <div class="row">
                        <div class="col-md-12">
                            {{utils.flashed_messages(messages, dismissible=True)}}
                        </div>
                    </div>
                {%- endif %}
                {%- endwith %}
            </div>
            {% block page_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
{% endraw %}
